@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}


// TRANSITION
@mixin transition($transition: all .1s linear) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// TRANSITION MULTIPLE
@mixin transitions($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}


// RESPONSIVENESS
@mixin respond-to($media) {
	@if $media == mobile {
		@media only screen and (max-width: 768px - 1) { @content; }
	}
	@else if $media == tabletportrait {
		@media only screen and (min-width: 768px - 1) and (max-width: 1024px - 1) { @content; }
	}
	@else if $media == tabletlandscape {
		@media only screen and (min-width: 1024px - 1) and (max-width: 1280px - 1) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: 1280px) { @content; }
	}
}