[data-module="subscribe"] {
  background-image: url("/content/themes/ayo/assets/images/subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 25px;
  background-color: white;
  .title{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:5px;
    line-height: 35px;
    text-align: center;
    font-size: 35px;
    color: #434343;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .follow_form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;

    .input_email {
      width: 100%;
      height: 50px;
      background-color: #ffffff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 5px;
      margin-bottom: 5px;
    }
    .row {
      margin-bottom: 0;
    }
    .submit-button{
      text-align: center;
    }

  }
  .error{
    border-color: #b0040e !important;
  }
  .success{
    border-color: green !important;
  }

}
