[data-module="contact"] {
    width: 100%;
    box-sizing: border-box;
    margin: 15px auto;
    padding: 0 15px;
    background-image: url("/content/themes/ayo/assets/images/subscribe.png");
    background-repeat: no-repeat;
    background-size: cover;

    textarea{
        margin-top: 7px;
        max-height: 400px;
    }

    .row{
        >.contact_form {
            padding: 15px;
            box-sizing: border-box;
            h5{
                font-family: Roboto, sans-serif;
                font-style: italic;
                color: #444B55;
            }
        }
    }

    .error{
        border-color: #b0040e !important;
    }
    .success{
        border-color: green !important;
    }

}