[data-module="slider"] {
  position: relative;
  overflow: hidden;
  padding-bottom: 46.5%;
  @include respond-to(tabletlandscape) {
    padding-bottom: 46.5%;
  }

  @include respond-to(tabletportrait) {
    padding-bottom: 100%;
  }

  @include respond-to(mobile) {
    padding-bottom: 100%;
  }

  .carousel-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .carousel{
      width: 100%;
      height: 100%;
      position: relative;
    }
    .carousel-inner{
      width: 100%;
      height: 100% !important;
      position: relative;
    }
    .carousel-inner > .item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      .carousel-caption{
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
